@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url('./images/venue-black-n-white.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}


div#main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

table {
  border-collapse: collapse;
}

div#unsorted-table {
  width: 80%;
  margin: 50px 0 0 0;
  font-size: 14px;
}

div#sorted-table {
  width: 80%;
  margin: 50px 0 40px 0;
  font-size: 14px;
}

th, td {
  color: black;
  border: 1px solid black;
  padding: 4px;
  text-align: center;
}

th {
  color: white;
}

.even {
  background-color: #80CBF0;
}

.odd {
  background-color: #E7EAEC;
}

div#wrapper {
  width: 98vw;
  margin: auto;
}

div#heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: center;
  text-align: center;
  vertical-align: middle;
  width: 98vw;
  height: 150px;
  /* border: 2px solid white; */
}

div#top {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  align-self: center;
  width: 92vw;
  margin: auto;
  padding: 0px 15px 0px 15px;
  border: 2px solid beige;
  border-radius: 10px;
}

p#head {
  display: flex;
  align-items: center;
  font-size: 36px;
  /* border: 2px solid pink; */
  height: 50px;
  margin: auto;
}

p#note1 {
  font-size: 20px;
  padding: 20px;
}

p#chosen-record {
  font-size: 18px;
  margin: 20px 0px 20px 0px;
  border: 1px solid greenyellow;
  border-radius: 5px;
  padding: 0 10px 0 10px;
}

div#fav-band {
  margin-bottom: 50px;
}

.italicize {
  font-style: italic;
}

.font-26px {
  font-size: 26px;
}
